# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.db
*.sqlite3

# Node / JS
node_modules/
.next/
out/
build/
dist/

# IDEs
.idea/
.vscode/

# Build artifacts
backend.zip
*.log
frontend/frontend_out.tar.gz
